*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(226, 166, 223);
    background-image: url(../Images/pngwing.com.png);
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position-x:center;
    
}